<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Adolfo Damián</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin" />
  <link rel="preload" as="style"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"
    media="print" onload="this.media='all'" />
  <noscript>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" />
  </noscript>
  <link href="css/font-awesome/css/all.min.css?ver=1.2.1" rel="stylesheet">
  <link href="css/mdb.min.css?ver=1.2.1" rel="stylesheet">
  <link href="css/aos.css?ver=1.2.1" rel="stylesheet">
  <link href="css/main.css?ver=1.2.1" rel="stylesheet">
  <noscript>
    <style type="text/css">
      [data-aos] {
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
      }
    </style>
  </noscript>
</head>

<body class="bg-light" id="top">
  {{!-- HEADER --}}

  {{> header}}
  <div class="page-content">
    <div class="container">
      <div class="resume-container">
        <div class="shadow-1-strong bg-white my-5" id="intro">
          <div class="bg-info text-white">
            <div class="cover bg-image"><img src="images/header-background.jpg" />
              <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);backdrop-filter: blur(2px);">
                <div class="text-center p-5">
                  <div class="avatar p-1"><img class="img-thumbnail shadow-2-strong" src="images/avatar.jpg" width="160"
                      height="160" /></div>
                  <div class="header-bio mt-3">
                    <div data-aos="zoom-in" data-aos-delay="0">
                      <h2 class="h1">Adolfo Damián</h2>
                      <p>Estudiante Universitario UMG</p>
                    </div>
                    <div class="header-social mb-3 d-print-none" data-aos="zoom-in" data-aos-delay="200">
                      <nav role="navigation">
                        <ul class="nav justify-content-center">
                          <li class="nav-item"><a class="nav-link"
                              href="https://www.facebook.com/profile.php?id=100077994023450" title="Facebook"><i
                                class="fab fa-facebook"></i><span class="menu-title sr-only">Facebook</span></a>
                          </li>
                          <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/adolfoddamian/"
                              title="Instagram"><i class="fab fa-instagram"></i><span
                                class="menu-title sr-only">Instagram</span></a>
                          </li>
                          <li class="nav-item"><a class="nav-link" href="https://github.com/crDamian2021"
                              title="Github"><i class="fab fa-github"></i><span
                                class="menu-title sr-only">Github</span></a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                    <div class="d-print-none"><a class="btn btn-outline-light btn-lg shadow-sm mt-1 me-3"
                        href="cvAdev.pdf" data-aos="fade-right" data-aos-delay="700">Download CV</a><a
                        class="btn btn-info btn-lg shadow-sm mt-1" href="#contact" data-aos="fade-left"
                        data-aos-delay="700">Hire Me</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="shadow-1-strong bg-white my-5 p-5" id="experience">
          <div class="work-experience-section">
            <h2 class="h2 fw-light mb-4">Experiencia Laborales</h2>
            <div class="timeline">
              <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="0">
                <div class="timeline-head px-4 pt-3">
                  <div class="h5">Diseñador Grafíco<span class="text-muted h6">Dios con nosostros</span></div>
                </div>
                <div class="timeline-body px-4 pb-4">
                  <div class="text-muted text-small mb-3">2017</div>
                  <div>Practicante en imprenta y litografía Dios con con nosotros</div>
                </div>
              </div>
              <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="200">
                <div class="timeline-head px-4 pt-3">
                  <div class="h5">Diseñador Grafíco<span class="text-muted h6">La Industria</span></div>
                </div>
                <div class="timeline-body px-4 pb-4">
                  <div class="text-muted text-small mb-3">2018</div>
                  <div>Practicante en la industria corp</div>
                </div>
              </div>
              <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="200">
                <div class="timeline-head px-4 pt-3">
                  <div class="h5">Diseñador Grafíco<span class="text-muted h6">Herdez</span></div>
                </div>
                <div class="timeline-body px-4 pb-4">
                  <div class="text-muted text-small mb-3">2018-2019</div>
                  <div>Diseñador grafíco y tambien confeccionista</div>
                </div>
              </div>
              <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="200">
                <div class="timeline-head px-4 pt-3">
                  <div class="h5">Mesero<span class="text-muted h6">Hotel y Restaurante Palmera Dorada</span></div>
                </div>
                <div class="timeline-body px-4 pb-4">
                  <div class="text-muted text-small mb-3">2023</div>
                  <div>Mesero ,cajero y atención al cliente</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shadow-1-strong bg-white my-5 p-5" id="contact">
          <div class="contant-section">
            <h2 class="h2 fw-light text mb-4">Contacteme</h2>
            <div class="row mb-4">
              <div class="col-md-5" data-aos="fade-left" data-aos-delay="200">
                <div class="mt-1">
                  <div class="h6"><i class="fas fa-phone pe-2 text-muted" style="width:24px;opacity:0.85;"></i> +502
                    4972 0414</div>
                  <div class="h6"><i class="far fa-envelope pe-2 text-muted" style="width:24px;opacity:0.85;"></i>
                    cr7adolfito@outloo.es</div>
                </div>

                {{!-- Emeail --}}
                <div class="mt-5 d-print-none">
                  <form action="https://formsubmit.co/cr7adolfito@gmail.com" method="POST">
                    <div class="form-outline mb-4">
                      <input type="text" id="name" name="Nombre" class="form-control" required />
                      <label class="form-label" for="name">Nombre</label>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="email" id="email" name="email" class="form-control" required />
                      <label class="form-label" for="email">Crreo</label>
                    </div>
                    <div class="form-outline mb-4">
                      <textarea class="form-control" style="resize: none;" id="message" name="message" rows="4"
                        required></textarea>
                      <label class="form-label" for="message">Mesaje</label>
                    </div>
                    <button class="btn btn-info btn-block mb-4" type="submit">Enviar</button>
                    <input type="hidden" name="_next" value="http://localhost:8080/">

                    <input type="hidden" name="_captcha" value="false">
                  </form>
                </div>
                <div class="mt-5 d-print-none">
                </div>
              </div>
              <div class="col-md-7 d-print-none" data-aos="zoom-in" data-aos-delay="100">
                <img src="images/header-background.jpg" width="500" height="400" style="border:0;width:100%;" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{!-- FOOTER --}}

  {{>footer}}
</body>

</html>